<html lang="en">
<head>
	<style>
			*{ margin:0; padding:0; }
			address,cite,dfn,em,var, i {font-style:normal;}
			body {font-size: 16px; line-height: 1.5; font-family:'Microsoft Yahei','simsun','arial','tahoma';  color: #222; background: #eee; }
			table { border-collapse:collapse; border-spacing:0; }
			h1, h2, h3, h4, h5, h6, th { font-size: 100%; font-weight: normal; }
			button,input,select,textarea{font-size:100%;}
			fieldset,img{border:0;}
			a { text-decoration: none; color: #666; background: none }
			ul, ol { list-style: none; }
			:focus{ outline:none;}
			body{
				width:100%;
				height:100%;
				background-color:#fff;
				box-sizing:border-box;
				padding:0px 7px 6px 4px;
			}
			.contentDiv{
				width:100%;
				padding:15px;
				box-sizing:border-box;
			}
			.contentDiv .mailContentContainer{
				width:100%;
				padding-top:40px;
				overflow:hidden;
				background-color:#f2f2f2;
			}
			.contentDiv .mailContentContainer .content{
				min-height:200px;
				margin:2%;
				padding:40px 30px 0px 30px;
				border: 1px solid #ccc;
				background-color:#fff;
			}
			.contentDiv .mailContentContainer .content p{
				height:30px;
				line-height:30px;
				font-size: 14px;
				color: #333;
			}
			.contentDiv .mailContentContainer .content p.userName{
				font-size: 16px;
				font-family: arial,sans-serif;
				font-weight: bold;
				margin-bottom:20px;
			}
			.contentDiv .mailContentContainer .content p.article{
				font-family: '宋体',arial,sans-serif;
				margin-left:15px;
			}
			.contentDiv .mailContentContainer .content p.password{
				margin-left:15px;
				font-size:20px;
				font-weight:bold;
				color: #f90;
				font-family: '宋体',arial,sans-serif;
			}
			.contentDiv .mailContentContainer .content p.address{
				margin-left:15px;
				font-family: '宋体',arial,sans-serif;
				margin-bottom:80px;
			}
			.contentDiv .mailContentContainer .content p.team{
				font-family: '宋体',arial,sans-serif;
			}
			.contentDiv .mailContentContainer .content p.timeStamp{
				font-family: '宋体',arial,sans-serif;
				text-decoration:underline ;
				margin-bottom:20px;
			}
	</style>
</head>
<body>
	<div class="contentDiv">
		<div class="mailContentContainer">
			<div class="content">
				<p class="userName">用户{{USER_NAME.DATA}}:</p>
				<p class="article">您好！感谢您使用BI服务，您的密码已被管理员修改为:</p>
				<p class="password">{{PASSWORD.DATA}}</p>
				<!-- <p class="address">修改地址:<a href="{{PWD_EDIT_URL.DATA}}">{{PWD_EDIT_URL.DATA}}</a></p> -->
				<p class="team">景兴BI团队</p>
				<p class="timeStamp">{{DATE.DATA}}</p>
				<p class="article">&nbsp;</p>
			</div>
		</div>
	</div>
</body>
</html>