<html lang="en">
<head>
	<style>
			*{ margin:0; padding:0; }
			address,cite,dfn,em,var, i {font-style:normal;}
			body {font-size: 16px; line-height: 1.5; font-family:'Microsoft Yahei','simsun','arial','tahoma';  color: #222; background: #eee; }
			table { border-collapse:collapse; border-spacing:0; }
			h1, h2, h3, h4, h5, h6, th { font-size: 100%; font-weight: normal; }
			button,input,select,textarea{font-size:100%;}
			fieldset,img{border:0;}
			a { text-decoration: none; color: #666; background: none }
			ul, ol { list-style: none; }
			:focus{ outline:none;}
			body{
				width:100%;
				height:100%;
				background-color:#fff;
				box-sizing:border-box;
				padding:0px 7px 6px 4px;
			}
			.contentDiv{
				width:100%;
				padding:15px;
				box-sizing:border-box;
			}
			.contentDiv .mailContentContainer{
				width:100%;
				padding-top:40px;
				overflow:hidden;
				background-color:#f2f2f2;
			}
			.contentDiv .mailContentContainer .content{
				min-height:200px;
				margin:2%;
				padding:40px 20px 20px 30px;
				border: 1px solid #ccc;
				background-color:#fff;
			}
			.contentDiv .mailContentContainer .content p{
				height:30px;
				line-height:30px;
				font-size: 14px;
				color: #333;
			}
			.contentDiv .mailContentContainer .content p.userName{
				font-size: 16px;
				font-family: arial,sans-serif;
				font-weight: bold;
				margin-bottom:20px;
			}
			.contentDiv .mailContentContainer .content p.article{
				font-family: '宋体',arial,sans-serif;
				margin-left:15px;
			}
			.contentDiv .mailContentContainer .content p.note{
				font-family: '宋体',arial,sans-serif;
				font-size:10px;
				color: #9d9d9d;
				height: 20px;
			}
			.contentDiv .mailContentContainer .content p.password{
				margin-left:15px;
				font-size:20px;
				font-weight:bold;
				color: #f90;
				font-family: '宋体',arial,sans-serif;
			}
			.contentDiv .mailContentContainer .content p.address{
				margin-left:35px;
				font-weight:bold;
				color: #f90;
				font-family: '宋体',arial,sans-serif;
				height: 20px;
			}
			.contentDiv .mailContentContainer .content p.noteUrl{
				font-family: '宋体',arial,sans-serif;
				font-size:10px;
				margin-left:100px;
				height: 10px;
			}
			.contentDiv .mailContentContainer .content p.team{
				font-family: '宋体',arial,sans-serif;
			}
			.contentDiv .mailContentContainer .content p.timeStamp{
				font-family: '宋体',arial,sans-serif;
				text-decoration:underline ;
				<!-- margin-bottom:20px; -->
			}
	</style>
</head>
<body>
	<div class="contentDiv">
		<div class="mailContentContainer">
			<div class="content">
				<!-- USER_NAME, EXPORT_DATE, SYSTEM_NAME, FILE_NAME, FILE_URI, EXPIRED_IN, SIGNATURE, DATE-->
				<p class="userName">尊敬的用户{{USER_NAME.DATA}}，您好:</p>
				<p class="article">您于{{EXPORT_DATE.DATA}}于{{SYSTEM_NAME.DATA}}中导出的{{FILE_NAME.DATA}}已经生成完毕，请点击如下链接进行下载，谢谢！</p>
				<p class="article">&nbsp;</p>
				<p class="address">下载地址:<a href="{{FILE_URI.DATA}}">{{FILE_NAME.DATA}}</a></p>
				<p class="noteUrl">(注:该链接于{{EXPIRED_IN.DATA}}过期，如过期，请至系统页面重新导出)</p>
				<p class="article">&nbsp;</p>
				<p class="team">{{SIGNATURE.DATA}}</p>
				<p class="timeStamp">{{DATE.DATA}}</p>
				<p class="note">----------------------------------------------------------------------------------</p>
				<p class="note">*该邮件仅用于自动发送相关文档，请勿回复，如需协助，请联系部门管理员，谢谢！</p>
				<p class="note">----------------------------------------------------------------------------------</p>
				<p class="note">本邮件包含商业机密，仅供收件人员查看，如果您不是收件人员烦请删除本邮件。</p>
				<p class="note">PLEASE READ:This e-mail is confidential and instended for the named recipient only.If you are not an intended recipient,pleadse delete this e-mail.</p>
			</div>
		</div>
	</div>
</body>
</html>